$primary_color: #e23d28;
$primary_color_light: #ff4c4c;
$secondary_color: #464646;
$secondary_color_light: #545454;
$facebook_color: #3b5998;
$twitter_color: #2daddc;
$rss_color: #fe9a00;
$google_color: #d14836;
$instagram_color: #833ab4;
$dribbble_color: #ea4c89;
$linkedin_color: #0077b5;
$vimeo_color: #1ab7ea;
$tumblr_color: #35465c;
$pinterest_color: #bd081c;
$wordpress_color: #21759b;
