/*********** Terme General admin styles ***********/

a[data-tooltip] {
    position: relative;
    display: inline-block;
}
a[data-tooltip]:before {
    position: absolute;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    background: #5a5c60;
    top: -30px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    content: attr(data-tooltip);
    font-size: 11px;
    left: 50%;
    min-width: 150px;
    border-radius: 4px;
    color: #fff;
    pointer-events: none;
    z-index: 999;
    text-align: center;
}
a[data-tooltip]:hover:before {
    top: -40px;
    opacity: 1;
}
a[data-tooltip]:after {
    display: inline-block;
    font: normal normal normal 14px/1 dashicons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f140";
    position: absolute;
    left: 50%;
    top: -10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    color: #5a5c60;
    font-size: 20px;
    z-index: 999;
}
a[data-tooltip]:hover:after {
    opacity: 1;
    top: -16px;
}

/*********** Terme Page Builder ***********/

a.terme_add_page_builder_button {
    background: url('../images/termelogo.svg') no-repeat 5px center #ff322e;
    display: inline-block;
    padding: 10px 10px;
    color: #fff;
    padding-left: 35px;
    -webkit-background-size: 24px;
    background-size: 24px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}
a.terme_add_page_builder_button:hover, a.terme_add_page_builder_button:focus {
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.terme_page_builder_container {
    background: #fff;
    border: 2px solid #eee;
    margin-top: 20px;
    display: none;
}
.terme_pb_elements_container ul {
    padding: 10px 30px;
    border-bottom: 1px dashed #afb1b3;
}
.terme_pb_elements_container ul li {
    display: inline-block;
    width: 15%;
}
.terme_pb_elements_container ul li a.terme_pb_item_toggle {
    cursor: move;
}
.terme_pb_elements_container ul li img {
    max-width: 100%
}
.terme_pb_elements_container ul li a.terme_pb_item_toggle span, .terme_pb_elements_container ul li a.terme_pb_delete_element, .terme_pb_elements_container ul li div.pb_item_setting {
    display: none;
}
.terme_pb_content_container {
    padding: 10px 30px;
}
.terme_pb_content_container ul {
    background: #fff;
    min-height: 250px
}
.terme_pb_content_container ul li {
    margin-bottom: 15px;
    background: #f5f5f5;
    width: 100%;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.terme_pb_content_container ul li a.terme_pb_item_toggle {
    display: block;
    color: #444;
    text-decoration: none;
}
.terme_pb_content_container ul li img {
    width: 60px;
    height: auto;
    cursor: move;
}
.terme_pb_content_container ul li span {
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.terme_pb_content_container ul li a.terme_pb_delete_element {
    text-decoration: none;
    line-height: 16px;
    font-size: 13px;
    color: #ff322e;
    text-align: right;
    display: block;
    font-weight: bold;
}
.terme_pb_content_container ul li div.pb_item_setting {
    background: #fff;
    display: none;
    margin-top: 15px;
    padding: 10px 20px;
}
.terme_pb_content_container ul li div.pb_item_setting td {
    padding-right: 15px;
}
.terme_pb_content_container ul li.terme-sortable-placeholder {
    height: 60px;
    background: #fff;
    border: 1px dashed #afb1b3;
}
.terme_pb_content_container ul li.ui-draggable-dragging {
    background: none;
}
.terme_pb_content_container ul li.ui-draggable-dragging span, .terme_pb_content_container ul li.ui-draggable-dragging a.terme_pb_delete_element {
    display: none;
}
#terme_page_option>button {
    border-left: 1px solid #fff;
}
#terme_page_option span {
    color: #fff;
}
#terme_page_option h2 {
    background: url('../images/pattern.svg') no-repeat center center #ff322e;
    color: #fff;
}
#terme_page_option input[type=checkbox] {
    display: none;
}
#terme_page_option input[type=checkbox]+ label {
    display: inline-block;
    background-color: #f65a5b;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-transform: uppercase;
    width: 80px;
}
#terme_page_option input[type=checkbox]+ label, #terme_page_option input[type=checkbox]+ label i {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
#terme_page_option input[type=checkbox]:checked+ label {
    background-color: #6cbc35;
}
#terme_page_option input[type=checkbox]+ label:before, #terme_page_option input[type=checkbox]+ label:after, #terme_page_option input[type=checkbox]+ label i {
    width: 50%;
    display: inline-block;
    height: 100%;
    text-align: center;
}
#terme_page_option input[type=checkbox]+ label:before {
    content: attr(data-text-true);
}
#terme_page_option input[type=checkbox]+ label:after {
    content: attr(data-text-false);
}
#terme_page_option input[type=checkbox]+ label i {
    top: 10%;
    background-color: white;
    height: 80%;
    left: 5%;
    position: absolute;
    width: 45%;
}
#terme_page_option input[type=checkbox]:checked+ label i {
    left: 50%;
}
ul.terme_social_widgets li {
    margin-bottom: 10px;
    position: relative;
}
ul.terme_social_widgets>li {
    background: #f1f1f1;
    padding: 10px 15px;
    border-radius: 4px;
}
ul.terme_social_widgets>li:nth-child(even) {
    background: #f1f1f1;
}
ul.terme_social_widgets>li ul {
    padding-top: 15px;
    display: none;
}
ul.terme_social_widgets li.ui-state-highlight {
    height: 36px;
    background: #fff;
    border: 1px dashed #999;
    padding: 0;
}
ul.terme_social_widgets li span.handle {
    float: right;
    width: 24px;
    height: 24px;
    cursor: all-scroll;
    position: absolute;
    top: 6px;
    right: 6px;
    text-align: center;
}
ul.terme_social_widgets li span.handle:after {
    content: "\f475";
    display: inline-block;

    font-size: 17px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: rotate(90deg) translateX(3px);
    -ms-transform: rotate(90deg) translateX(3px);
    -o-transform: rotate(90deg) translateX(3px);
    transform: rotate(90deg) translateX(3px);
}
