/*********** Terme RTL admin styles ***********/

.redux-sidebar {
    float: right;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.active.hasSubSections a:after, .wp-customizer .redux-sidebar .redux-group-menu li.active.hasSubSections a:after {
    right: auto;
    left: 0;
    border-right-color: transparent;
    border-left-color: #d54e21;
}

.redux-sidebar .redux-menu-warning, .redux-sidebar .redux-menu-error, .redux-sidebar .hasSubSections .extraIconSubsections {
    float: left;
}
.redux-main {
    border-left: 0px;
    margin-left: 0px;
    border-right: 1px solid #d8d8d8;
    margin-right: 201px
}

.field_icon_selector_ul_container a.close_icon_selector {
  float: left;
  -webkit-transform: translate(15px, 30px);
-ms-transform: translate(15px, 30px);
-o-transform: translate(15px, 30px);
transform: translate(15px, 15px);
}
ul.terme_social_widgets li span.handle {
  float: left;
  right: auto;
  left: 6px;
}
