/*********** Terme General admin styles ***********/

a[data-tooltip] {
    position: relative;
    display: inline-block;
}

a[data-tooltip]:before {
    position: absolute;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    background: #5a5c60;
    top: -30px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    content: attr(data-tooltip);
    font-size: 11px;
    left: 50%;
    min-width: 150px;
    border-radius: 4px;
    color: #fff;
    pointer-events: none;
    z-index: 999;
    text-align: center;
}

a[data-tooltip]:hover:before {
    top: -40px;
    opacity: 1;
}

a[data-tooltip]:after {
    display: inline-block;
    font: normal normal normal 14px/1 dashicons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f140";
    position: absolute;
    left: 50%;
    top: -10px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    color: #5a5c60;
    font-size: 20px;
    z-index: 999;
}

a[data-tooltip]:hover:after {
    opacity: 1;
    top: -16px;
}


/*********** Terme Page Builder ***********/

a.terme_add_page_builder_button {
    background: url('../images/termelogo.svg') no-repeat 5px center #ff322e;
    display: inline-block;
    padding: 10px 10px;
    color: #fff;
    padding-left: 35px;
    -webkit-background-size: 24px;
    background-size: 24px;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

a.terme_add_page_builder_button:hover, a.terme_add_page_builder_button:focus {
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.terme_page_builder_container {
    background: #fff;
    border: 2px solid #eee;
    margin-top: 20px;
    display: none;
}

.terme_pb_elements_container ul {
    padding: 10px 30px;
    border-bottom: 1px dashed #afb1b3;
}

.terme_pb_elements_container ul li {
    display: inline-block;
    width: 15%;
    padding: 5px;
}

.terme_pb_elements_container ul li a.terme_pb_item_toggle {
    cursor: move;
}

.terme_pb_elements_container ul li img {
    max-width: 100%
}

.terme_pb_elements_container ul li a.terme_pb_item_toggle span, .terme_pb_elements_container ul li a.terme_pb_delete_element, .terme_pb_elements_container ul li div.pb_item_setting {
    display: none;
}

.terme_pb_content_container {
    padding: 10px 30px;
}

.terme_pb_content_container ul {
    background: #fff;
    min-height: 250px
}

.terme_pb_content_container ul li {
    margin-bottom: 15px;
    background: #f5f5f5;
    width: 100%;
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.terme_pb_content_container ul li a.terme_pb_item_toggle {
    display: block;
    color: #444;
    text-decoration: none;
}

.terme_pb_content_container ul li img {
    width: 60px;
    height: auto;
    cursor: move;
}

.terme_pb_content_container ul li span {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

.terme_pb_content_container ul li a.terme_pb_delete_element {
    text-decoration: none;
    line-height: 16px;
    font-size: 13px;
    color: #ff322e;
    text-align: right;
    display: block;
    font-weight: bold;
}

.terme_pb_content_container ul li div.pb_item_setting {
    background: #fff;
    display: none;
    margin-top: 15px;
    padding: 10px 20px;
}

.terme_pb_content_container ul li div.pb_item_setting td {
    padding-right: 15px;
}

.terme_pb_content_container ul li.terme-sortable-placeholder {
    height: 60px;
    background: #fff;
    border: 1px dashed #afb1b3;
}

.terme_pb_content_container ul li.ui-draggable-dragging {
    background: none;
}

.terme_pb_content_container ul li.ui-draggable-dragging span, .terme_pb_content_container ul li.ui-draggable-dragging a.terme_pb_delete_element {
    display: none;
}

#terme_page_option input {
  height: 35px;
}
#terme_page_option>button {
    border-left: 1px solid #fff;
}

#terme_page_option span {
    color: #fff;
}

#terme_page_option h2 {
    background: url('../images/pattern.svg') no-repeat center center #ff322e;
    color: #fff;
}

#terme_page_option input[type=checkbox] {
    display: none;
}

#terme_page_option input[type=checkbox]+ label {
    display: inline-block;
    background-color: #FF9090;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    position: relative;
    width: 135px;
    border-radius: 0;
    border-color: #F48080;
    text-shadow: 0px 1px 0 #EC7979;
}

#terme_page_option input[type=checkbox]+ label, #terme_page_option input[type=checkbox]+ label i {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

#terme_page_option input[type=checkbox]:checked+ label {
    background-color: #4ab866;
    color: #fff;
    border-color: #55AD56;
    text-shadow: 0px 1px 0 #499D4A;
}

#terme_page_option input[type=checkbox]+ label:before, #terme_page_option input[type=checkbox]+ label:after, #terme_page_option input[type=checkbox]+ label i {
    width: 50%;
    display: inline-block;
    height: 100%;
    text-align: center;
}

#terme_page_option input[type=checkbox]+ label:before {
  content: attr(data-text-true);

}

#terme_page_option input[type=checkbox]+ label:after {
    content: attr(data-text-false);
}

#terme_page_option input[type=checkbox]+ label i {
    top: 3px;
    background-color: white;
    height: 29px;
    left: 2%;
    position: absolute;
    width: 64px;
    border-radius: 0;
    line-height: 29px;
    color: #FF9090;
    text-shadow: none;
}


#terme_page_option input[type=checkbox]:checked+ label i {
    left: 50%;
    color: #4ab866;

}

ul.terme_social_widgets li {
    margin-bottom: 10px;
    position: relative;
}

ul.terme_social_widgets>li {
    background: #f1f1f1;
    padding: 10px 15px;
    border-radius: 4px;
}

ul.terme_social_widgets>li:nth-child(even) {
    background: #f1f1f1;
}

ul.terme_social_widgets>li ul {
    padding-top: 15px;
    display: none;
}

ul.terme_social_widgets li.ui-state-highlight {
    height: 36px;
    background: #fff;
    border: 1px dashed #999;
    padding: 0;
}

ul.terme_social_widgets li span.handle {
    float: right;
    width: 24px;
    height: 24px;
    cursor: all-scroll;
    position: absolute;
    top: 6px;
    right: 6px;
    text-align: center;
}

ul.terme_social_widgets li span.handle:after {
    content: "\f475";
    display: inline-block;
    font-size: 17px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: rotate(90deg) translateX(3px);
    -ms-transform: rotate(90deg) translateX(3px);
    -o-transform: rotate(90deg) translateX(3px);
    transform: rotate(90deg) translateX(3px);
}

.upload-field-details {
	display: inline-block;
	vertical-align: middle;
	min-height: 24px;
	padding: 2px 0;
}
.upload-field-details > * {
	float: left;
}
.widefat td p {
	margin: 2px 0 .8em 10px;
}
.upload-field-details .file-name {
	font-weight: bold;
	color: #21759B;
}
.upload-field-details span {
	display: block;
}
#slider_category,
#slider_custom {
    margin-top: 20px;
    /*display: none;*/
}
.terme_slider_fieldset {
    display: none;
}
table.terme_slides_table td.terme-delete {
    vertical-align: middle;
    text-align: center;
}
table.terme_slides_table td.terme-delete a {
    color: #f00;
}
table.terme_slides_table td.check-column {
    vertical-align: middle;
    text-align: center;
}
table.terme_slides_table td.check-column span {
    cursor: move;
}
table.terme_slides_table tr.terme-sortable-placeholder {
    height: 200px;
    background: #eee;
}
select.slider_category_selector,
table.terme_slides_table .select2-container {
    min-width: 250px
}
#slider_category .select2-container--default .select2-selection--multiple .select2-selection__choice {
    padding: 0;
    padding-right: 5px;
    border-top: none;
    border-bottom: none;
    background: #f4f4f4;
    border: none;
    border-radius: 3px;
    overflow: hidden;
    line-height: 15px;
    font-size: 13px;
}
#slider_category .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 13px;
    background: #ff9090;
    color: #fff;
    margin-right: 5px;
}
#slider_category .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #a8bece 1px;
}
.terme_ads_widget_thumb {
    display: inline-block;
    margin: 00 15px;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    width: 75px;
    height: 75px;
}
.terme_ads_widget_thumb img {
    max-width: 100%;
    height: auto;
}
/*
.widefat td.cornita-content,
.widefat th.cornita-content {
	text-align: left;
}
.widefat td.cornita-delete {
	color: #d8d8d8;
}
.widefat * {
	word-wrap: break-word;
}
.mb-table-container.cornita_table tr td {
	padding: 0 8px;
}
.mb-table-container tr {
	background-color: #fff;
}
.mb-table-container tr:nth-child(2n+1) {
    background-color:#FCFCFC;
}

.mb-table-container tr:last-child td {
    border-bottom: 0 none;
}
.mbdelete, .wck-remove-upload {
	color: #BC0B0B;
	cursor: pointer;
}
.mbdelete:hover, .wck-remove-upload:hover {
	color: #FF0000;
}
.mb-table-container tr  td {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    padding: 0 8px;
    position: relative;
}

.mb-table-container tr td:last-child {
    border-right: 0 none;
}

.mb-table-container thead > tr > th {
    border-right: 1px solid #E1E1E1;
}

.mb-table-container tr > th:last-child {
    border-right: 0 none;
}
#slide_field {
	display: none;
}
p.upload_btn .uploader.button-secondary {
	margin: 10px 0 0 25px;
}

td.cornita-delete {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	cursor: grabbing;
}*/
